apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: blagenda
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mohamed-ndoye811/blagenda
    targetRevision: HEAD
    path: infra/k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: blagenda
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
