apiVersion: apps/v1
kind: Deployment
metadata:
  name: blagenda-front
  namespace: blagenda
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: blagenda-front
          image: diamondydev/blagenda-front:df3413195001442f7614081289b8d9b503328b2d
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NUXT_APP_API_URL
              valueFrom:
                configMapKeyRef:
                  name: blagenda-config
                  key: FRONT_API_URL
            - name: NUXT_APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: blagenda-config
                  key: FRONT_PORT
            - name: NUXT_APP_AUTH_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: blagenda-config
                  key: FRONT_AUTH_TIMEOUT
