apiVersion: apps/v1
kind: Deployment
metadata:
  name: blagenda-front
  namespace: blagenda
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: blagenda-front
          image: diamondydev/blagenda-front:b405fc602bd880c3abc1eb9c4afa6757c1d5daf6
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NUXT_APP_API_URL
              valueFrom:
                configMapKeyRef:
                  name: blagenda-config
                  key: API_URL
            - name: NUXT_APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: blagenda-config
                  key: NUXT_APP_PORT
