apiVersion: apps/v1
kind: Deployment
metadata:
  name: blagenda-back
  namespace: blagenda
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: back
  template:
    metadata:
      labels:
        app: back
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: blagenda-back
          image: diamondydev/blagenda-api:58ad30a17c4a30ef8798b135342e7c4b10f85165
          imagePullPolicy: Always
          ports:
            - containerPort: 3333
          env:
            - name: NODE_ENV
              value: production
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DATABASE_URL
            - name: JWT_SECRET
              value: your_jwt_secret_key
