apiVersion: apps/v1
kind: Deployment
metadata:
  name: blagenda-front
  namespace: blagenda
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: blagenda-front
          image: diamondydev/blagenda-front:649053d6a893fcf47d369392dd66718a450553a2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NUXT_APP_PORT
              value: "3000"
