apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: blagenda-tls
  namespace: blagenda
spec:
  secretName: blagenda-tls
  duration: 2160h  # 90d
  renewBefore: 360h  # 15d
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: blagenda.diamondy.dev
  dnsNames:
    - blagenda.diamondy.dev
    - api.blagenda.diamondy.dev
