name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend (blagenda-api)
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: diamondydev/blagenda-api:latest
          platforms: linux/amd64

      - name: Build and push frontend (blagenda-front)
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: diamondydev/blagenda-front:latest
          platforms: linux/amd64
      - name: Trigger Argo CD sync
        run: |
          curl -X POST https://34.163.20.241/applications/argocd/blagenda/sync \
            -H "Authorization: Bearer ${{ secrets.ARGOCD_TOKEN }}"
